In [4]:
'''
    조건 : if, elif
    
    순환 : for, while, do while
    
    제어 : continue, break

    if 조건 [or, and 조건1] :   -> 논리
        조건이 True일 경우의 처리
'''

number = 3

if number > 0:
    print("number는 양수입니다")

number는 양수입니다

In [5]:
if number < 0:
    print("number는 음수입니다")

In [7]:
if number == 3:
    print("number는 3입니다")

number는 3입니다

In [10]:
number = int(input("정수입력 > "))

if number % 2 == 0:
    print('짝수입니다')
    
if number % 2 != 0:
    print('홀수입니다')

정수입력 > 57
홀수입니다

### else

In [11]:
number = int(input("정수입력 > "))

if number % 2 == 0:
    print('짝수입니다')
else:
    print('홀수입니다')

정수입력 > 13
홀수입니다

In [12]:
'''
module : 다른 사람이 먼저 제작해 놓은 기능
'''

import datetime

In [13]:
now = datetime.datetime.now() # getter
now

datetime.datetime(2022, 8, 30, 9, 34, 36, 543272)

In [14]:
now.year

2022

In [15]:
now.month

8

In [16]:
now.day

30

In [17]:
now.hour

9

In [18]:
now.minute

34

In [19]:
now.second

36

In [21]:
if now.hour < 12:
    print("현재 시간은 {}시로 오전입니다".format(now.hour))

현재 시간은 9시로 오전입니다

In [22]:
## setter
setTime = datetime.datetime.strptime('2022-12-24 12:35:45', 
                                     '%Y-%m-%d %H:%M:%S')
setTime

datetime.datetime(2022, 12, 24, 12, 35, 45)

In [23]:
setTime = datetime.datetime.strptime('20221130123545', 
                                     '%Y%m%d%H%M%S')
setTime

datetime.datetime(2022, 11, 30, 12, 35, 45)

In [24]:
### 조건분기 (다수조건)
month = setTime.month
if month >= 3 and month <= 5:
    print("현재는 봄입니다")
elif 6 <= month <= 8:
    print("현재는 여름입니다")
elif 9 <= month <= 11:
    print("현재는 가을입니다")    
else:
    print("현재는 겨울입니다")

현재는 가을입니다

In [27]:
### pass
'''
조건에 정의는 설정했는데 처리가 결정되지 않은 경우
'''

number = 5

if number > 0:
    # 양수일 경우
    pass
else:
    # 음수일 경우
    pass

In [ ]:
### tuple, list, dictionary  -> 변수들의 묶음
### array(배열)
'''
array : 같은 자료형 변수의 묶음 == tuple(대입용)

    array = []
    array = [1, 2, 3]
    array[0] -> 1        0 -> index number
    array[1] -> 2
    array[2] -> 3
    
list : 유동적(추가, 삭제)인 배열
'''
number = 1

number1 = 1
number2 = 2
number3 = 3

In [28]:
### tuple : 대입, 변경불가, 추가, 삭제불가
tu = (11, 22, 33)  # -> 요소(element)

tu

(11, 22, 33)

In [29]:
tu[0]

11

In [30]:
tu[1] = 2

TypeError: 'tuple' object does not support item assignment

In [31]:
### list 변수들의 묶음. 요소를 추가하고 삭제할 수 있다.

mylist= [ 11, 22, 33, "안녕", True ]

mylist

[11, 22, 33, '안녕', True]

In [32]:
mylist[3]

'안녕'

In [33]:
mylist[0:3]

[11, 22, 33]

In [34]:
mylist[-1]

True

In [35]:
mylist[2:]

[33, '안녕', True]

In [36]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_a + list_b

[1, 2, 3, 4, 5, 6]

In [37]:
list_a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [49]:
list_a

[1, 2, 3, 6, 11, 12, 13, 6, 7, 8]

In [50]:
# (요소(element) or node)추가 
list_a.append(4)
list_a

[1, 2, 3, 6, 11, 12, 13, 6, 7, 8, 4]

In [51]:
list_a.insert(2, 5)
list_a

[1, 2, 5, 3, 6, 11, 12, 13, 6, 7, 8, 4]

In [52]:
list_a.extend([6, 7, 8])
list_a

[1, 2, 5, 3, 6, 11, 12, 13, 6, 7, 8, 4, 6, 7, 8]

In [53]:
list_b = [11, 12, 13]
list_a.extend(list_b)
list_a

[1, 2, 5, 3, 6, 11, 12, 13, 6, 7, 8, 4, 6, 7, 8, 11, 12, 13]

In [54]:
### CRUD -> Data Access Object
### 추가, 삭제, 검색, 수정
### Create Delete Read Update

In [55]:
del list_a[4]
list_a

[1, 2, 5, 3, 11, 12, 13, 6, 7, 8, 4, 6, 7, 8, 11, 12, 13]

In [56]:
list_a.pop(2)
list_a

[1, 2, 3, 11, 12, 13, 6, 7, 8, 4, 6, 7, 8, 11, 12, 13]

In [57]:
del list_a[4:7]
list_a

[1, 2, 3, 11, 7, 8, 4, 6, 7, 8, 11, 12, 13]

In [58]:
mylist = [ 11, 22, 33, 44, 55 ]

33 in mylist

True

In [59]:
if 33 in mylist:
    print('데이타가 있음')

데이타가 있음

In [60]:
mylist[3] = 66
mylist

[11, 22, 33, 66, 55]

In [62]:
### Sorting : 정렬
'''
    2 8 1 4 6 5
    
    1 2 4 5 6 8 -> 오름차순 정렬
    8 6 5 4 2 1 -> 내림차순 정렬
'''

mylist = [ 1, 9, 2, 8, 3, 7, 4 ]
mylist.sort()
mylist

[1, 2, 3, 4, 7, 8, 9]

In [63]:
mylist.sort(reverse=True)
mylist

[9, 8, 7, 4, 3, 2, 1]

 ### dictionary

In [67]:
'''
array, tuple, list -> 관리(접근)
 : index 0 ~ len-1 == 번호
'''
mylist = [1, 2, 3]

mylist[0]
len(mylist)

3

In [ ]:
'''
    key:value
    
    list key -> index
         value -> list[key]
         
    dictionary
        key -> str
        value -> object(class, list, tuple, str, int)
'''

In [68]:
dic = {
    "name":"과일",
    "frults":["사과", "배", "바나나"],
    "origin":"필리핀"    
}

dic

{'name': '과일', 'frults': ['사과', '배', '바나나'], 'origin': '필리핀'}

In [69]:
# 키값만을 출력
dic.keys()

dict_keys(['name', 'frults', 'origin'])

In [70]:
dic.values()

dict_values(['과일', ['사과', '배', '바나나'], '필리핀'])

In [71]:
dic.items()

dict_items([('name', '과일'), ('frults', ['사과', '배', '바나나']), ('origin', '필리핀')])

In [72]:
dic['name']

'과일'

In [73]:
dic['frults']

['사과', '배', '바나나']

In [74]:
dic['frults'][1]

'배'

In [76]:
dic['name'] = "food"
dic

{'name': 'food', 'frults': ['사과', '배', '바나나'], 'origin': '필리핀'}

In [77]:
mylist = [] # list 선언
mylist.append("hi")
mylist.append("good day")
mylist

['hi', 'good day']

In [78]:
dic = {} # dictionary 선언

dic["name"] = "로보트"
dic["head"] = "스킨헤드"
dic['body'] = "메탈바디"
dic['weapon'] = ["미사일", "광선검", "레이저"]

dic

{'name': '로보트',
 'head': '스킨헤드',
 'body': '메탈바디',
 'weapon': ['미사일', '광선검', '레이저']}

In [79]:
del dic['head']
dic

{'name': '로보트', 'body': '메탈바디', 'weapon': ['미사일', '광선검', '레이저']}

In [80]:
if "weapon" in dic:
    print('무기가 있습니다')

무기가 있습니다

In [81]:
value = dic.get("name")
value

'로보트'

In [83]:
value = dic.get("head")
if value == None:
    print("존재하지 않은 키값에 접근했습니다")

존재하지 않은 키값에 접근했습니다

In [84]:
dic['name']

'로보트'

In [85]:
dic.get('name')

'로보트'

### range

In [86]:
range(5)

range(0, 5)

In [88]:
mylist = list(range(5))
mylist

[0, 1, 2, 3, 4]

In [89]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [90]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [93]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [94]:
list(range(0, 10, 3))

[0, 3, 6, 9]

### for

In [95]:
# for foreach
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [96]:
_sum = 0
for i in range(1, 11):
    _sum += i

_sum

55

In [97]:
mylist = ['one', 'two', 'three', 'four', 'five']
for a in mylist:
    print( a )

one
two
three
four
five

In [98]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [100]:
mylist = [ 11, 22, 33, 44, 55 ]
for i in range(len(mylist)):
    print(mylist[i])

11
22
33
44
55

In [104]:
for i in reversed(range(len(mylist))):
    print(i, mylist[i])

4 55
3 44
2 33
1 22
0 11

In [105]:
### enumerate
frults = ["apple", "pear", "banana"]
# index, value
for i, val in enumerate(frults):
    print(i, val)

0 apple
1 pear
2 banana

In [106]:
dic

{'name': '로보트', 'body': '메탈바디', 'weapon': ['미사일', '광선검', '레이저']}

In [108]:
for key in dic:
    print(key, ":", dic[key])

name : 로보트
body : 메탈바디
weapon : ['미사일', '광선검', '레이저']

In [111]:
for i, key in enumerate(dic):
    print(i, key, dic[key])

0 name 로보트
1 body 메탈바디
2 weapon ['미사일', '광선검', '레이저']

In [113]:
for i in frults:
    if i == 'apple':
        print(i)

apple

In [114]:
# 1 ~ 100 사이의 숫자안에 짝수, 홀수의 합을 각각 구하라
sum1 = 0
sum2 = 0
for i in range(1, 101):
    if i % 2 == 0:
        sum2 += i
    else:
        sum1 += i
        
print('홀수의 합:', sum1)
print('짝수의 합:', sum2)

홀수의 합: 2500
짝수의 합: 2550

### while

In [117]:
'''
    for 변수 in (배열, 범위):
        처리
        
    변수선언
    while 조건:  -> 조건이 True면 계속 loop된다
        처리
        연산
'''

w = 0
while w < 10:
    print(w)
    w += 1

0
1
2
3
4
5
6
7
8
9

In [124]:
mylist = [ 11, 22, 33, 22, 44 ]
mylist

[11, 22, 33, 22, 44]

In [125]:
val = 22
while val in mylist:
    mylist.remove(val)
    
mylist

[11, 33, 44]

In [126]:
### break : loop문과 같이 사용. for, while
mylist = [ 1, 2, 3, 4, -2, 6, -4 ]
for n in mylist:
    if n < 0:
        break
    print(n)

1
2
3
4

In [127]:
### continue : skip 처리
for n in mylist:
    if n < 0:
        continue
    print(n)

1
2
3
4
6

In [129]:
myNumber = [] # -> 5개 : 양수만 입력해야 된다
w = 0
while w < 5:
    num = int(input("숫자입력 > "))
    if num <= 0:
        print('다시 입력해 주십시오')
        continue
        
    myNumber.append(num)
    w += 1

myNumber

숫자입력 > 3
숫자입력 > 4
숫자입력 > 5
숫자입력 > -1
다시 입력해 주십시오
숫자입력 > 8
숫자입력 > -5
다시 입력해 주십시오
숫자입력 > 0
다시 입력해 주십시오
숫자입력 > 11

[3, 4, 5, 8, 11]