In [ ]:
# 2,4,6,8,10 값을 각각 제곱 한 값을 출력하라

In [1]:
doubleList = []
for n in range(2, 12, 2):
    print(n**2)
    doubleList.append(n**2)
    
doubleList

4
16
36
64
100

[4, 16, 36, 64, 100]

In [ ]:
# while 문을 이용하여 10에서 50까지의 짝수만 출력하라

In [2]:
num = 10
while num <= 50:
    print(num)
    num += 2

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
# 0-9의 값을 for 문을 사용하여 하나씩 표시. 그러나 7이되면 루프를 종료

In [3]:
for i in range(10):
    if i == 7:
        break;
    print(i)

0
1
2
3
4
5
6

In [ ]:
# 0-9의 값을 하나씩 표시하라. 그러나 4의 경우는 표시하지 않는다. (continue를 사용)

In [4]:
for i in range(10):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6
7
8
9

In [7]:
for i in range(10):
    if i == 4:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# pass를 사용하여 0 ~ 9의 값을 하나씩 표시하라. 그러나 4의 경우는 표시하지 않는다 (pass를 사용)

In [8]:
for i in range(10):
    if i == 4:
        pass
    else:
        print(i)

0
1
2
3
5
6
7
8
9

In [ ]:
# 1 ~ 10까지 목록에 저장하고 각각의 값을 제곱 한 값을 출력하라

In [11]:
my_list = list(range(1, 11))
my_list
for i in my_list:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
'''
다음 dictionary 객체를 사용하여 각각의 key와 value를 가져오고 
value가 20 이상인 경우 {key의 내용} : hot을 출력한다. 
그 외의 경우 {key의 내용} : cold 출력하라
temperatures = { 'x': 24, 'y': 18, 'z': 30 }
'''

In [17]:
temperatures = { 'x': 24, 'y': 18, 'z': 30 }
for key, value in temperatures.items():
   # print(key, value)
    if value >= 20:
        print(key, ": hot")
    else:
        print(key, ": cold")

x : hot
y : cold
z : hot

In [18]:
temperatures = { 'x': 24, 'y': 18, 'z': 30 }
for i, key in enumerate(temperatures):
    # print(i, key, temperatures[key])
    if temperatures[key] >= 20:
        print(key, ": hot")
    else:
        print(key, ": cold")

x : hot
y : cold
z : hot

In [ ]:
# (1,2,3)의 튜플의 값을 x, y, z 변수에 각각 저장하라.

In [ ]:
x = 1
y = 2
z = 3
x, y, z = (1, 2, 3)

In [ ]:
'''
목록 (결합)
변수 li1에 [1,2,3]목록을 대입 변수 li2에 [4,5]목록을 할당하고 두 목록을 결합하여 출력합니다.

출력 :[1,2,3,4,5]
'''

In [19]:
li1 = [1,2,3]
li2 = [4,5]

li3 = li1 + li2
li3

[1, 2, 3, 4, 5]

In [ ]:
'''
목록 (추가)
변수 목록 [1,2,3,4,5]을 할당하고이 목록의 끝 으로 6, 7하나씩 차례로 추가하십시오. 그 후, 최종 목록을 출력합니다.

출력 :[1,2,3,4,5,6,7]
'''

In [20]:
li = [1,2,3,4,5]
li.append(6)
li.append(7)
li

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
'''
목록 (insert)
변수 목록 [1,2,3,4,5]을 만들고 0 번째와 1 번째 사이에 100 을 삽입하십시오.

출력 :[1,100,2,3,4,5]
'''

In [21]:
li = [1,2,3,4,5]
li.insert(1, 100)
li

[1, 100, 2, 3, 4, 5]

In [ ]:
'''
정렬
변수 목록 [5,3,1,4,2]을 저장하고 오름차순으로 정렬 된 목록을 출력합니다.

출력 :[1,2,3,4,5]
'''

In [22]:
li = [5,3,1,4,2]
sort_li = sorted(li)
sort_li

[1, 2, 3, 4, 5]

In [24]:
rsort_li = sorted(li, reverse=True)
rsort_li

[5, 4, 3, 2, 1]

In [ ]:
'''
목록 (for 의한 조사)
변수에 [1,2,3,4,5] 5 개의 요소를 가진 리스트를 포함하여 짝수의 요소만을 출력합니다.

출력: 2 4
'''

In [25]:
li = [1,2,3,4,5]
for n in li:
    if n % 2 == 0:
        print(n)

2
4

In [ ]:
'''
목록 (enumerate)
변수에 [1,2,3,4,5] 5 개의 요소를 가진리스트를 포함하여 짝수가 들어 있는 요소의 index만을 출력합니다. 

예상 출력 :1 3
'''

In [26]:
li = [1,2,3,4,5]
for idx, val in enumerate(li):
    if val % 2 == 0:
        print(idx)

1
3

In [ ]:
'''
사전 (values)
변수에 값 쌍으로 {'A':1, 'B':2, 'C':3, 'D':4, 'E':5}를 가진 사전을 포함하여 
키를 요소로 하는 리스트와 값을 요소로 하는 리스트를 작성하고 출력하십시오.

['A', 'B', 'C', 'D', 'E']
[1, 2, 3, 4, 5]
'''

In [29]:
dic = {'A':1, 'B':2, 'C':3, 'D':4, 'E':5}

key_list = list(dic.keys())
key_list
val_list = list(dic.values())
val_list

[1, 2, 3, 4, 5]

In [ ]:
'''
변수에 값 쌍으로 {'A':1, 'B':2, 'C':3, 'D':4, 'E':5}를 가진 사전을 포함하여 
키와 값 (가치)의 조합 튜플을 요소로 하는 리스트를 작성하고 출력하십시오.

출력 :[('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)]
'''

In [34]:
dic = {'A':1, 'B':2, 'C':3, 'D':4, 'E':5}
mylist = list(dic.items())

mylist

[('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)]